/* -------- RECETTTTTTTTT---------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	width: 100%;
	background: rgba(124,0,213,1);
	background: -moz-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(124,0,213,1)), color-stop(100%, rgba(207,0,138,1)));
	background: -webkit-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: -o-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: -ms-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: linear-gradient(to right, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c00d5', endColorstr='#cf008a', GradientType=1 );font-family: 'Raleway', sans-serif;
}
.row{
	margin-bottom: 0;
}
/*------portada -------*/
#image_nanny_header{
	width: 80%;
	margin-top: 30px;
}
#image_titulo_header{
	margin-top: 50px;
	width: 80%;
}
#texto-header{
	width: 70%;
}
/* COLOR DE FONDO*/
#portada{
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
	height: 670px;
	padding:0;
	background: rgba(241,229,0,1);
	background: -moz-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,229,0,1)), color-stop(99%, rgba(247,33,0,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e500', endColorstr='#e73827', GradientType=1 );

	-webkit-box-shadow: 18px 21px 39px 1px rgba(0,0,0,0.55);
	-moz-box-shadow: 18px 21px 39px 1px rgba(0,0,0,0.55);
	box-shadow: 18px 21px 39px 1px rgba(0,0,0,0.55);
	z-index: 2;
}
#p-portada{
	font-size: 26px;
	font-weight:bold;
	color: whitesmoke;
	text-align: center;
}

/*-------ABOUT ME--------*/
#about-me{
	height: 100%;
}
#texto-aboutMe{
	margin-top: 80px;
}
#p-about{
	width: 80%;
	color: whitesmoke;
	font-size: 22px;
	padding: 20px;
	text-align: center;
	border:2px solid white;
	margin-top: 50px;
	margin-left: 30px;
}
/*FOTO DE PERFIL*/
.foto{
	width: 100%;
	padding-top: 70px;
}
/*----------SKILLS----------*/
#habilidades{
	-webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
	height: 100%;
	z-index: -1;
	padding:0;
	margin:0;
	background: rgba(83,120,149,1);
	background: -moz-linear-gradient(left, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(83,120,149,1)), color-stop(100%, rgba(9,32,63,1)));
	background: -webkit-linear-gradient(left, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
	background: -o-linear-gradient(left, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
	background: -ms-linear-gradient(left, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
	background: linear-gradient(to right, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#537895', endColorstr='#09203f', GradientType=1 );
}
#fondo-habilidades{
	background-image: url(../images/Nanny_Skills.png);
	background-size: cover;
	background-position: center;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#texto-skills{
	margin-top: 140px;
}
.porte{
	width: 170px;
	padding-top: 50px;
}
.porte-icons{
	width: 50%;
	padding-top: 10%;
	margin-left: 10%;
	padding-bottom: 10%;
} 
#contenedor-skills{
	margin-top: 30px;
	padding-bottom: 160px;
}
/* filas */
.primerFila-1{
	border-right: 3px solid white;
	border-bottom: 3px solid white;
}
.primerFila-2{
	border-right: 3px solid white;
}
.primerFila-3{
	border-bottom: 3px solid white;
}
/*----------PORTFOLIO----------*/
#portfolio{
	height: 500px;
	z-index: -1;
}

/*----------INFOOOOOOO----------*/
#info{
	-webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);background: rgba(241,229,0,1);
	background: -moz-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,229,0,1)), color-stop(99%, rgba(247,33,0,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e500', endColorstr='#e73827', GradientType=1 );
	height: 300px;
	z-index: -1;
	position: relative;
	top: 20px;
}
.icons-contacto{
	color: white;
	font-size: 35px;
	padding: 10px;
	margin-top: 2px;
}
#info-anais{
	text-align: right;
	font-size: 30px;
	color: white;
	padding: 15px;
	padding-top: 70px;
}

/* ------ 	R E S P O N S I V E ------ */

@media only screen and (max-width: 600px){
	/*------ PORTADA -------*/
	#portada{
		height: 450px;
	}
	#image_titulo_header{
		width: 100%;
	}
	#texto-header{
		width: 100%;
		padding-bottom: 50px;
	}
	/*------ ABOUT ME -------*/
	#p-about{
		width: 100%;
		font-size: 19px;
		padding: 9px;
		text-align: left;
		border:2px solid white;
		margin: 0;
	}
	#texto-aboutMe{
		margin-top: 30px;
	}
	/*------ SKILLS -------*/
	.porte-icons{
		width: 80%;
	}
	#contenedor-skills{
		margin-top: 60px;
	}
	#texto-skills{
		margin-top: 150px;
	}
	/*------ PORTFOLIO -------*/

	/*------ INFORMACION -------*/
	#info-anais{
		font-size: 20px;
		color: white;
		padding: 15px;
		padding-top: 120px;
	}
	#info{
        height: 250px;
	}
}