/* ANIMACION ANIMACION ANIMACIO */
.hit-the-floor {
	color: #fff;
	font-size: 8em;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
	text-align: center;
}
/* COLOR DE FONDO*/
#portada{
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
	height: 800px;
	background-color: yellow;
}

/*ABOUT ME*/
#about-me{
	
	background-color: red;
}
/*FOTO DE PERFIL*/
#foto{
	border-radius: 48%;
	border: 5px solid white;
	width: 300px;
}


/*SKILLS*/
#habilidades{
	background-color: green;
	-webkit-clip-path: polygon(0 0, 100% 29%, 100% 71%, 0 100%);
	clip-path: polygon(0 0, 100% 29%, 100% 71%, 0 100%);
	height: 900px;

}
.skills{
	display: inline-block;
}

.circulo{
	width: 130px;
	height: 130px;
	border: 5px solid brown;
	border-radius: 50%;
	text-align: center;
	padding-top: 20px;
}
.fa{
	font-size: 70px;
	color: white;
}

/*PORTFOLIO*/
#portfolio{
	background-color: black;
	height: 300px;
	z-index: -1;
}
.holaa{
	font-size: 20px;
	color: white;
}

/*INFOOOOOOO*/
#info{
	-webkit-clip-path: polygon(0% 261px, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0% 261px, 100% 0, 100% 100%, 0 100%);
	background-color: orange;
	height: 300px;
	z-index: 2;
}