/* -------- RECETTTTTTTTT---------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* ANIMACION ANIMACION ANIMACIO */
.hit-the-floor {
	color: #fff;
	font-size: 8em;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
	padding-top: 190px;
	text-align: center;
}
body{
	
	background: rgba(124,0,213,1);
	background: -moz-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(124,0,213,1)), color-stop(100%, rgba(207,0,138,1)));
	background: -webkit-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: -o-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: -ms-linear-gradient(left, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	background: linear-gradient(to right, rgba(124,0,213,1) 0%, rgba(207,0,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c00d5', endColorstr='#cf008a', GradientType=1 );font-family: 'Raleway', sans-serif;
}
/* COLOR DE FONDO*/
#portada{
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
	height: 670px;
	padding:0;
	background: rgba(241,229,0,1);
	background: -moz-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,229,0,1)), color-stop(99%, rgba(247,33,0,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(241,229,0,1) 0%, rgba(247,33,0,1) 99%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e500', endColorstr='#e73827', GradientType=1 );
	text-shadow:1px #ccc;
	-webkit-box-shadow: 18px 21px 39px 1px rgba(0,0,0,0.55);
-moz-box-shadow: 18px 21px 39px 1px rgba(0,0,0,0.55);
box-shadow: 18px 21px 39px 1px rgba(0,0,0,0.55);
z-index: 2;
}
/*#fondox{
	background-image: url('../image/3BD.png');
	width:100%;
	height: 700px;
	background-repeat: none;
	background-position: bottom;
	margin: 0;
	padding:0;
	}*/
	#p-portada{
		font-size: 26px;
		font-weight:bold;
		color: whitesmoke;
		text-align: center;
	}

	/*-------ABOUT ME--------*/
	#about-me{
		height: 420px;
	}
	#p-about{
		color: whitesmoke;
		font-size: 20px;
		padding: 20px;
		text-align: center;
		border:2px solid white;
	}
	/*----------FOTO DE PERFIL----------*/
	.foto{
		border-radius: 48%;
		border: 5px solid white;
		width: 300px;
	}
	.perfil{
		margin-left: 150px;
	}
	/*----------SKILLS----------*/
	#habilidades{
		background-color:whitesmoke;
		-webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
		clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
		height: 800px;

	}
	.poc{
		margin-top: 270px;
	}
	.porte{
		width: 170px;
		padding-top: 50px;
	}
	#sass{
		padding-top: 100px;
	}
	#css{
		padding-top: 100px;
	}
	#jquery{
		padding-top: 240px;
	}
	/*----------PORTFOLIO----------*/
	#portfolio{
		height: 300px;
		z-index: -1;
	}
	.holaa{
		font-size: 20px;
		color: white;
	}

	/*----------INFOOOOOOO----------*/
	#info{
		-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
		background-color: white;
		height: 300px;
		z-index: 2;
	}
	.fa{
		font-size: 30px;
	}
	.circulo{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border:5px solid #1f2026;
		margin-top: 100px;
		display: inline-block;
		text-align: center;
		padding-top: 10px;
		margin-left: 50px;
	}
	.icon{
		color: #1f2026;
	}
	.p-info{
		color: #1f2026;
		font-size: 15px;
		text-align: center;
	}